body {
	background-color:#2A2A2A;
}

h1 {
	text-align:center;
	color:#37e6ee;
}

a {
	font-size:15pt;
	display:block;
	width:150px;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image:none;
}

div {
	margin-left:auto;
	margin-right:auto;
}

iframe {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

a:visited {color:#bd0071;background-color:#2A2A2A;text-decoration:none;}
a:link {color:#fedd14;background-color:#2A2A2A;text-decoration:none;}
a:hover {color:#bd0071;background-color:#37e6ee;text-decoration:none;}
a:active {color:#839496;background-color:#fdf6e3;text-decoration:none;}

// Background
// #2A2A2A
// Blue
// #37e6ee
// Yellow
// #fedd14
// Pink
// #bd0071

#search input {
    margin-left:auto;
    margin-right:auto;
}

#search {
    margin-left:auto;
    margin-right:auto;
}
